<div class="flex gap-10">
    <div class="flex flex-col shrink-0 gap-2">
        <p class="text-white font-bold">
            Features
        </p>
        {{ nav:footer_nav_features }}
            <a href="{{ url }}" class="block hover:text-purple-400 text-sm text-gray-300">{{ title }}</a>
        {{ /nav:footer_nav_features}}
    </div>
    <div class="flex flex-col shrink-0 gap-2">
        <p class="text-white font-bold">
            About Us
        </p>
        {{ nav:footer_nav_about }}
            <a href="{{ url }}" class="block hover:text-purple-400 text-sm text-gray-300">{{ title }}</a>
        {{ /nav:footer_nav_about }}
    </div>
</div>
