<div class="bg-gray-100 py-16 sm:py-8">
    <div class="container mx-auto">
        <h2 class="text-center text-purple-800">{{heading}}</h2>
            <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-4 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-4">
        {{ logos }}
                {{ logo_image }}
                {{ if ratio>1 }}
                    <img class="saturate-0 mix-blend-multiply col-span-2 max-h-16 w-full object-contain lg:col-span-1" src="{{ url }}" alt="{{ alt }}" width="150" height="150">
                {{ else }}
                    <img class="saturate-0 mix-blend-multiply col-span-2 max-h-24 w-full object-contain lg:col-span-1" src="{{ url }}" alt="{{ alt }}" width="300" height="300">
                {{ /if }}
                {{ /logo_image }}
        {{ /logos }}
            </div>
    </div>
</div>
