<section class="py-12 w-full">
    <div class="container mx-auto flex justify-center">
        <div class="text-center">
            <div>
                <h2 class="text-purple-800 mb-4">{{ heading }}</h2>
                <div class="mb-12">{{ blurb }}</div>
            </div>
            <div class="text-left flex flex-row gap-x-8">
                {{ products }}
                    {{ partial:pricing_card }}
                {{ /products }}
            </div>
            <div class="flex flex-col gap-4">
                <div class="mt-12 [&>p]:text-lg">
                    {{ call_to_action }}
                </div>
                <div>
                    {{ partial:button url="{{ button_url }}" text="{{ button_label }}" variant="primary"}}
                </div>
            </div>
        </div>
    </div>
</section>
